body {
    margin: 0;
    padding: 0;
    background-color: #F4F3F4;
}

a {
    color: #eee;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #FEE2E5;
    font-weight: bold;
}

.wrap {
    position: relative;
}

/* Header */

.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    position: fixed;
    margin: auto;
    z-index: 9999;
}

.site_name {
    margin: auto;
    float: left;
    font-size: 1.125rem;
    color: #eee;
    text-shadow: 3px 2px 3px #B00415;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    width: calc(1200px - 300px);
    float: right;
    text-shadow: 2px 1px 3px #B00415;
}

.nav > li {
    margin-left: 30px;
    list-style: none;
}

.nav > li > a:hover {
    color: #FEE2E5;
    font-weight: bold;
}


/* Slide */

.carousel {
    width: 100%;
    margin-top: 80px;
    position: absolute;
}

.carousel-item {
    height: 557px;
    opacity: 0.8;
}

.carousel-item img {
    width: 100%;
    height: 557px;
    object-fit: cover;
}

/* Banner Text */
.banner-text-box {
    width: 100%;
    top: 31%;
    text-align: center;
    float: contour;
    position: absolute;
}

.intro-title {
    font-size: 3.5rem;
    color: #eeeeee;
    text-shadow: 2px 2px 5px #201C23;
}

.contents1 {
    font-size: 1.5rem;
    color: #eeeeee;
    text-shadow: 2px 2px 5px #201C23;
    line-height: 5.2rem;
}

.home-content {
    font-size: 1.45rem;
    color: #eeeeee;
    text-shadow: 2px 2px 5px #201C23;
}

.user-like {
    font-size: 1.45rem;
    background-color: transparent !important;
    width: 4rem;
    border: 0;
    cursor: auto;
    color: #eeeeee;
    text-shadow: 2px 2px 5px #201C23;
}

.user-like:focus {
    outline: none;
}

/* 등록된 리뷰들 */

.main-text-area {
    width: 100%;
    height: 800px;
    margin-top: 205px;
    margin-bottom: 25px;
    position: absolute;
}

.block {
    margin: auto;
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "image title title"
            "image content content"
            "image content content"
            "image hash hash";
    margin: 10px 10px;
    width: 800px;
    height: 250px;
    background-color: #ECEBEB;
    border: 2px solid #FBBCC3;
    box-shadow: 1px 1px 2px #F9808F;
}

.season {
    overflow: fragments;
}

img {
    width: 300px;
    height: 247px;
    object-fit: cover;
}

.image {
    grid-area: image;
    height: 250px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    grid-area: title;
    text-align: center;
    border-bottom: 1px solid #FC8A97;
}

.title-left {
    font-size: 1.4rem;
    margin-top: 4px;
    margin-left: 0.5rem;
    color: #FBBCC3;
    text-shadow: 2px 2px 2px #E35151;
}

.title-right {
    font-size: 0.8rem;
    margin-top: 25px;
    margin-right: 0.5rem;
    color: #FC8A97;
}

.content {
    grid-area: content;
    padding: 4px;
    height: 17vh;
}

.content > p {
    display: block;
    color: #F45B6D;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 23px;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    word-wrap: break-word;
}

.details {
    width: calc(500px - 10px);
}

.hash {
    margin-top: 10rem;
    grid-area: hash;
    list-style: none;
    float: left;
}

ul.hash > li {
    font-size: 0.9rem;
    float: left;
    margin-right: 1rem;
    color: #FC8A97;
    text-shadow: 2px 2px 13px #858282;
}

/* Footer */
/*.footer {*/
/*    width: 100%;*/
/*    border-top: 1px solid #FBBCC3;*/
/*    position: absolute;*/
/*    text-align: center;*/
/*}*/

/*.footer-text {*/
/*    margin: auto;*/
/*    padding: 1rem;*/
/*    color: #F45B6D;*/
/*    font-size: 1.0125rem;*/
/*    font-weight: bolder;*/
/*    text-shadow: 1px 1px 2px #F45B6D;*/
/*}*/

/* media query */
@media screen and (max-width: 1080px) {
    /* Header */

    .header {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        position: fixed;
        margin: auto;
        z-index: 9999;
    }

    .site_name {
        margin: auto;
        float: left;
        font-size: 1rem;
        color: #eee;
        text-shadow: 3px 2px 3px #B00415;
    }

    .nav {
        display: flex;
        justify-content: flex-end;
        margin: auto;
        width: calc(1080px - 500px);
        float: right;
        text-shadow: 2px 1px 3px #B00415;
    }

    .nav > li {
        margin-left: 30px;
        list-style: none;
    }

    .nav > li > a:hover {
        color: #FEE2E5;
        font-weight: bold;
    }

    /* Banner Text */
    .banner-text-box {
        width: 100%;
        top: 31%;
        text-align: center;
        float: contour;
        position: absolute;
    }

    .intro-title {
        font-size: 3.5rem;
        color: #eeeeee;
        text-shadow: 2px 2px 5px #201C23;
    }

    .contents1 {
        font-size: 1.5rem;
        color: #eeeeee;
        text-shadow: 2px 2px 5px #201C23;
        line-height: 5.2rem;
    }

    .home-content {
        font-size: 1.45rem;
        color: #eeeeee;
        text-shadow: 2px 2px 5px #201C23;
    }

    .user-like {
        font-size: 1.45rem;
        background-color: transparent !important;
        width: 4rem;
        border: 0;
        cursor: auto;
        color: #eeeeee;
        text-shadow: 2px 2px 5px #201C23;
    }

    .user-like:focus {
        outline: none;
    }

}

@media screen and (max-width: 768px) {
    /* Header */
    .header {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        position: fixed;
        margin: auto;
        z-index: 9999;
    }

    .site_name {
        margin: auto;
        float: left;
        font-size: 1rem;
        color: #eee;
        text-shadow: 3px 2px 3px #B00415;
    }

    .nav {
        display: flex;
        justify-content: flex-end;
        margin: auto;
        width: calc(768px - 500px);
        float: right;
        text-shadow: 2px 1px 3px #B00415;
    }

    .nav > li {
        margin-left: 30px;
        list-style: none;
    }

    .nav > li > a:hover {
        color: #FEE2E5;
        font-weight: bold;
    }

    /* Banner Text */
    .banner-text-box {
        width: 100%;
        top: 31%;
        text-align: center;
        float: contour;
        position: absolute;
    }

    .intro-title {
        font-size: 2.5rem;
        color: #eeeeee;
        text-shadow: 2px 2px 5px #201C23;
    }

    .contents1 {
        font-size: 1.35rem;
        color: #eeeeee;
        text-shadow: 2px 2px 5px #201C23;
        line-height: 5.2rem;
    }

    .home-content {
        font-size: 1.25rem;
        color: #eeeeee;
        text-shadow: 2px 2px 5px #201C23;
    }

    .user-like {
        font-size: 1.25rem;
        background-color: transparent !important;
        width: 4rem;
        border: 0;
        cursor: auto;
        color: #eeeeee;
        text-shadow: 2px 2px 5px #201C23;
    }

    .user-like:focus {
        outline: none;
    }


    /* 등록된 리뷰들 */
    .main-text-area {
        width: 100%;
        height: 600px;
        margin-top: 205px;
        margin-bottom: 25px;
        position: absolute;
    }

    .block {
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .grid {
        display: grid;
        grid-template-columns: 250px 1fr 1fr;
        grid-template-rows: 50px 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "image title title"
            "image content content"
            "image content content"
            "image hash hash";
        margin: 10px 10px;
        width: 600px;
        height: 250px;
        background-color: #ECEBEB;
        border: 2px solid #FBBCC3;
        box-shadow: 1px 1px 2px #F9808F;
    }

    .season {
        overflow: fragments;
    }

    img {
        width: 300px;
        height: 247px;
        object-fit: cover;
    }

    .image {
        grid-area: image;
        height: 250px;
    }

    .title {
        font-size: 24px;
        font-weight: bold;
        grid-area: title;
        text-align: center;
        border-bottom: 1px solid #FC8A97;
    }

    .title-left {
        font-size: 1.18rem;
        margin-top: 5px;
        margin-left: 0.5rem;
        color: #FBBCC3;
        text-shadow: 2px 2px 2px #E35151;
    }

    .title-right {
        font-size: 0.8rem;
        margin-top: 25px;
        margin-right: 0.5rem;
        color: #FC8A97;
    }

    .content {
        grid-area: content;
        padding: 4px;
        height: 17vh;
    }

    .content > p {
        display: block;
        color: #F45B6D;
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        line-height: 23px;
        text-align: left;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        word-wrap: break-word;
    }

    .hash {
        margin-top: 10rem;
        grid-area: hash;
        list-style: none;
    }

    ul.hash > li {
        float: left;
        margin-right: 1rem;
        color: #FC8A97;
        text-shadow: 2px 2px 13px #858282;
    }
}

@media screen and (max-width: 480px) {
    /* Header */
    .header {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        position: fixed;
        margin: auto;
        z-index: 9999;
    }

    .site_name {
        margin: auto;
        float: left;
        font-size: 0.9rem;
        color: #eee;
        text-shadow: 3px 2px 3px #B00415;
    }

    .nav {
        display: flex;
        justify-content: flex-end;
        margin: auto;
        width: calc(480px - 280px);
        float: right;
        text-shadow: 2px 1px 3px #B00415;
    }

    .nav > li {
        font-size: 0.8rem;
        margin-left: 20px;
        list-style: none;
    }

    .nav > li > a:hover {
        color: #FEE2E5;
        font-weight: bold;
    }

    /* Banner Text */
    .banner-text-box {
        width: 100%;
        top: 31%;
        text-align: center;
        float: contour;
        position: absolute;
    }

    .intro-title {
        font-size: 1.5rem;
        color: #eeeeee;
        text-shadow: 2px 2px 5px #201C23;
    }

    .contents1 {
        font-size: 1.05rem;
        color: #eeeeee;
        text-shadow: 2px 2px 5px #201C23;
        line-height: 5.2rem;
    }

    .home-content {
        font-size: 1.05rem;
        color: #eeeeee;
        text-shadow: 2px 2px 5px #201C23;
    }

    .user-like {
        font-size: 1.05rem;
        background-color: transparent !important;
        width: 4rem;
        border: 0;
        cursor: auto;
        color: #eeeeee;
        text-shadow: 2px 2px 5px #201C23;
    }

    .user-like:focus {
        outline: none;
    }

}

@media screen and (max-width: 360px) {
    /* Header */
    .header {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        position: fixed;
        margin: auto;
        z-index: 9999;
    }

    .site_name {
        margin: auto;
        float: left;
        font-size: 0.75rem;
        color: #eee;
        text-shadow: 3px 2px 3px #B00415;
    }

    .nav {
        display: flex;
        justify-content: flex-end;
        margin: auto;
        width: calc(360px - 150px);
        float: right;
        text-shadow: 2px 1px 3px #B00415;
    }

    .nav > li {
        font-size: 0.8rem;
        margin-left: 15px;
        list-style: none;
    }

    .nav > li > a:hover {
        color: #FEE2E5;
        font-weight: bold;
    }

    /* Banner Text */
    .banner-text-box {
        width: 100%;
        top: 31%;
        text-align: center;
        float: contour;
        position: absolute;
    }

    .intro-title {
        font-size: 1.25rem;
        color: #eeeeee;
        text-shadow: 2px 2px 5px #201C23;
    }

    .contents1 {
        font-size: 1.05rem;
        color: #eeeeee;
        text-shadow: 2px 2px 5px #201C23;
        line-height: 5.2rem;
    }

    .home-content {
        font-size: 1rem;
        color: #eeeeee;
        text-shadow: 2px 2px 5px #201C23;
    }

    .user-like {
        font-size: 1rem;
        background-color: transparent !important;
        width: 4rem;
        border: 0;
        cursor: auto;
        color: #eeeeee;
        text-shadow: 2px 2px 5px #201C23;
    }

    .user-like:focus {
        outline: none;
    }

}