<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Css -->
    <link href='{{ url_for("static", filename="style.css") }}' rel="stylesheet">

    <title>여행지 소개</title>
  </head>
  <body>
    <div class="wrap">

        <!-- Header Area -->
        <div class="header">
            <div class="header-title">
                <h1>Travel site</h1>
            </div>
            <div class="header-menus">
                <ul>
                    <li><a href="#">검색</a></li>
                    <li><a href="#">방명록</a></li>
                    <li><a href="#">여러분의 픽은</a></li>
                    <li><a href="#">리뷰로 소통</a></li>
                </ul>
            </div>
        </div>

        <!-- Banner Area -->
        <div class="banner">

            <!-- Banner Img part -->
            <div class="image-slide">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://www.visitbusan.net/uploadImgs/files/cntnts/20200102184132612_ttiel" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://img1.daumcdn.net/thumb/R720x0.q80/?scode=mtistory2&fname=http%3A%2F%2Fcfile24.uf.tistory.com%2Fimage%2F99CF163359DE0DB02AE96B" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://www.e-nexco.co.jp/assets/img/pressroom/image_gallery/r3calender/img_month02.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Banner Title part -->
            <div class="banner-title">
                <h1>여행, 어디가 좋을까?</h1>
                <span>원하는 옵션을 선택하고 검색해보세요!</span>
            </div>

            <!-- Banner Select-Forms part -->
            <div class="select-forms">

                <!-- Season -->
                <select name="season" class="select">
                    <option disabled selected>어떤 계절에 가시나요?</option>
                    <option value="1">봄</option>
                    <option value="2">여름</option>
                    <option value="3">가을</option>
                    <option value="4">겨울</option>
                </select>

                <!-- Area -->
                <select name="season" class="select">
                    <option disabled selected>지역</option>
                    <option value="1">서울</option>
                    <option value="2">부산</option>
                    <option value="3">대구</option>
                    <option value="4">인천</option>
                    <option value="5">대전</option>
                    <option value="6">광주</option>
                    <option value="7">경상도</option>
                    <option value="8">경기도</option>
                    <option value="9">강원도</option>
                    <option value="10">전라도</option>
                    <option value="11">제주도</option>
                </select>

                <!-- Keyword -->
                <select name="season" class="select">
                    <option disabled selected>여행 키워드를 선택하세요!</option>
                    <option value="1">연인</option>
                    <option value="2">우정</option>
                    <option value="3">가족</option>
                    <option value="4">기타</option>
                </select>

            </div>

            <!-- Banner Btn part -->
            <div class="banner-btn">
                <button type="button" class="btn">맞춤 여행 검색</button>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  </body>
</html>